@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary {
  background: #050114;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #0a0c61;
}

.text-accent {
  color: #4446b6;
} 

.mobile-nav {
  display: block;
  position: fixed;
  top: 10px;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #1a202c;
  transition: all 0.5s ease;
} 

nav li a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
}

nav li a:hover {
  color: #5255eb;
}

h1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5 !important;
}